.counter-container {
    height: 8vw;
    width: 14vw;
    padding: 0 10px;
}

.stock {
    font-family: 'Josefin Sans', sans-serif;
    color: #494949;
    width: 100px;
}

.input-button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.quantity {
    height: 30px;
    border: 1px solid #494949;
}

#suma {
    width: 2vw;
    height: 2vw;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#resta {
    width: 2vw;
    height: 2vw;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#add {
    width: 150px;
    height: 30px;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#add:hover {
    background-color: #292929;
}

#go-to-cart {
    width: 150px;
    height: 30px;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-top:5px;
}

#go-to-cart:hover {
    background-color: #292929;
}

