.detail-counter {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
}

.detail-img {
    border: 1px solid #292929;
    margin: 20px;
    width: 40vw;
    height: 85vh;
    float: left;
}

.detail-img_collar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detail-list li {
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}

.counter {
    position: absolute;
    top:500px;
    left: 700px;
}