.detail-counter {
    display: flex;
    justify-content: space-around;
    margin:10px;
    width: 90vw;
    height: 85vh;
    border: 1px solid #292929;
}

.detail-img {
    border: 1px solid #292929;
    width: 40vw;
    height: 85vh;
    float: left;
}

.detail-img_collar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detail-list {

}

li {
    list-style: none;
}

.counter {
    flex-direction: wrap;
}