.counter-container {
    height: 8vw;
    width: 15vw;
}

.container_img {
    width: 15vw;
    height: 40vh;
    border: 1px solid #292929;
}

.container_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .9;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color:black;
    margin-left: 25px;
}

.input-button {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.cantidad {
    width: 6vw;
    height: 2vw;
    border: 1px solid #494949;
}

#suma {
    width: 2vw;
    height: 2vw;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#resta {
    width: 2vw;
    height: 2vw;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.agregar {
    margin-left: 18px;
    width: 12.5vw;
    height: 2vw;
    background-color: #494949;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.agregar:hover {
    background-color: #292929;
}