.div-counter {
    border: 1px solid black;
}

.img-counter {
    height: 20vw;
    width: 15vw;
}

.img-counter_collar {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

li {
    list-style: none;
}