.card-container {
    border: 1px solid #292929;
    position: relative;
    width: 14vw;
    height: 40vh;
    background-color: #fff;
    box-shadow: 1px 1px 5px #292929;
}

.img-container{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .9;
}

.img-collar {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.list {
    list-style: none;
    padding: 5px 0;
}

li {
    padding:10px 0;
    color: #494949;
    font-size: 1vw;
    font-family: 'Josefin Sans', sans-serif;
}