.card-container {
    border: 1px solid #292929;
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #fff;
    overflow: hidden;
    margin-top:50px;
}

.card-container:hover {
    height: 580px;
    transition: 1s;
}

.counter-container {
    display:none;
    margin-top: 10px;
    margin-left: -5px;
  }

.card-container:hover .counter-container{
    display: block;
}

.img-container {
    height: 250px;
    width: 250px;
}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    opacity: .9;
}

.list {
    list-style: none;
    padding: 0 10px;
}

.list li {
    padding:10px 0;
    color: #494949;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

#detail-button {
    margin:0 10px;
}

